spring:
  application:
    name: wisit-be
  profiles:
    active: dev
  datasource:
    url: "${JDBC_DATABASE_URL}"
    username: "${JDBC_DATABASE_USERNAME}"
    password: "${JDBC_DATABASE_PASSWORD}"
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: "${spring.flyway.schemas}"
        jdbc.lob.non_contextual_creation: true # fixes clob creation exception
  flyway:
    schemas: wisit

info:
  app:
    build:
      registry: "https://hub.docker.com/r/todarch/wisit-be/tags?page=1&ordering=last_updated"
      image: "${IMAGE}"
      pipeline: "https://circleci.com/workflow-run/${WORKFLOW_ID}"
      repo: "https://github.com/${COMMIT_USER}/${COMMIT_REPO}/commit/${COMMIT_HASH}"

wisit:
  internal-header-name: "${INTERNAL_HEADER_NAME}"
  internal-header-value: "${INTERNAL_HEADER_VALUE}"
  explorer:
    flickr:
      api-base-url: "https://www.flickr.com/services/rest/"
      api-key: "${FLICKR_API_KEY}"

